# Because gitpod cannot npm i -g, so we install ng cli here. 
# But not upload them. Remove package.json and package-lock.json if 
# applicable. 
package-lock.json
# package.json
node_modules/
gitpod_serve.sh

*.sqlite
data/template/
data/project/
data/temp_versioned/
data/versioning.json.zl

publishes/
testplay/