<h2 *ngIf="!is_edit_title">
  {{ template.name }}
  <fa-icon [icon]="faEdit" (click)="edit_title()"></fa-icon>
</h2>
<div class="input-group mb-3" *ngIf="is_edit_title">
  <input type="text" class="form-control" [(ngModel)]="title_name" minlength="1" maxlength="50" (keydown.enter)="finish_edit_title()" />
  <button class="btn btn-primary" (click)="finish_edit_title()"><fa-icon [icon]="faSave"></fa-icon></button>
</div>

<span *ngIf="!is_edit_desc">
  {{ template.description }}
  <fa-icon [icon]="faEdit" (click)="edit_desc()"></fa-icon>
</span>
<div class="input-group mb-3" *ngIf="is_edit_desc">
  <!-- No use textarea here deliberately. -->
  <input type="text" class="form-control" [(ngModel)]="desc_name" maxlength="255" (keydown.enter)="finish_edit_desc()" />
  <button class="btn btn-primary" (click)="finish_edit_desc()"><fa-icon [icon]="faSave"></fa-icon></button>
</div>

<div class="pt-2"></div>
<div class="border border-2 border-primary">
  <nav class="navbar navbar-expand-sm">
    <div class="container-fluid">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" role="button" (click)="save()">
          <fa-icon [icon]="faSave" size="xl"></fa-icon>
          <!-- Required for the icon to load. Otherwise, won't load. -->
          <span class="caption"></span>
        </a></li>
        <div class="vl"></div>
        
        <!-- Different types -->
        <!-- Reminder (a header, and a single question of 'how') -->
        <li class="nav-item"><a class="nav-link" role="button" (click)="new_reminder()">
          <fa-icon [icon]="faReminder" size="xl"></fa-icon>
          <span class="caption"></span>
        </a></li>
      </ul>
    </div>
  </nav>
</div>

<!-- Saving bar -->
<div class="" *ngIf="saving">
  <div class="d-flex float-end">
    <mat-spinner diameter="25" color="green"></mat-spinner>&nbsp;
    Saving
  </div>
</div>

<div class="container row">
  <div class="col-md-4 col-xl-3 col-xxl-2 pt-3">
    <h5>{{ 'templ.Stages' | translate }}</h5>
    <ul class="navbar-nav">
      <li class="nav-item nav-sidebar" [ngClass]="is_active_stage(i)" *ngFor="let s of stages; let i=index">
        <a class="nav-link" role="button" (click)="sel_stage(i)" (click.double)="edit_stage(i)">
          <ng-container *ngIf="!is_edit_stage(i)">{{ s.name }}</ng-container>
          <ng-container *ngIf="is_edit_stage(i)">
            <input type="text" class="form-control" [(ngModel)]="stage_name" #editStage (keydown.enter)="finish_edit_stage()" autofocus />
          </ng-container>
        </a>
      </li>

      <!-- Add new stage -->
      <li class="nav-item nav-sidebar">
        <a class="nav-link" role="button" (click)="add_stage()">
          <fa-icon [icon]="faAddStage"></fa-icon>
          {{ 'templ.AddStage' | translate }}
        </a>
      </li>
    </ul>
  </div>

  <div class="col-md-8 col-xl-9 col-xxl-10 pt-3">
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 row-cols-xxl-4 g-3" *ngFor="let p of pipeline; let i=index">
      <ng-template [ngTemplateOutlet]="reminderTempl" [ngTemplateOutletContext]="{ $implicit: p, i: i }"></ng-template>
    </div>
  </div>
</div>

<!-- <button (click)="get_fivestep()">Get Fivestep</button> -->

<ng-template #reminderTempl let-p let-i="i">
  <div class="col">
    <div class="card card-hover text-bg-primary" (click)="openReminders(i)" 
    hover-class="text-bg-info | text-bg-primary">
      <h5 class="card-header">
        {{ p.title }}
      </h5>
      <!-- <div class="card-body">
        <p class="card-text">{{ p.questions[0].q }}</p>
      </div> -->
    </div>
  </div>
</ng-template>

<!-- {{ pipeline | json }} -->
<br>
<!-- <button (click)="delete_all_stages()">Delete all stages</button> -->
<pre>
  <!-- {{ template | json }} -->
  {{ pipeline | json }}
</pre>

<!-- <button (click)="load()">Manual Load</button> -->
<!-- <button (click)="test_get()">Test Get</button> -->