<div class="modal-header">
  <h3>{{ myForm.get('title')!.value }}</h3>
  <button type="button" class="btn-close" (click)="cancel()" aria-label="Close"></button>
</div>

<div class="modal-body">
   <!-- Kelly Criterion and Brier Score -->
   <div class="row">
    <div class="col-sm-6">
      <h4 class="text-center">{{ 'kelly.KellyCriterion' | translate }}</h4>
      <div class="input-group mb-3">
        <span class="input-group-text">{{ 'kelly.Kelly%' | translate }}</span>
        <input type="number" class="form-control" disabled />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">{{ 'kelly.WinProb' | translate }}</span>
        <input type="number" class="form-control" disabled />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">{{ 'kelly.WLRatio' | translate }}</span>
        <input type="number" class="form-control" disabled />
      </div>
    </div>

    <div class="col-sm-6">
      <h4 class="text-center">{{ 'kelly.BrierScore' | translate }}</h4>
      <div class="input-group mb-3">
        <span class="input-group-text">{{ 'kelly.BrierScore' | translate }}</span>
        <input type="number" class="form-control" disabled />
      </div>
    </div>
  </div>

  <div class="row pt-3">
    <table class="table">
      <thead>
        <tr>
          <!-- Below for X -->
          <th scope="col"></th>  
          <th scope="col">{{ 'kelly.Coin' | translate }}<span class="text-danger">*</span></th>
          <th scope="col">{{ 'kelly.BuySell' | translate }}<span class="text-danger">*</span></th>
          <th scope="col">{{ 'kelly.Price' | translate }}<span class="text-danger">*</span></th>
          <th scope="col">{{ 'kelly.Amt' | translate }}<span class="text-danger">*</span></th>

          <!-- For Buy/Sell only -->
          <th scope="col">{{ 'kelly.SellPrice' | translate }}</th>
          <th scope="col">{{ 'kelly.SellAmt' | translate }}</th>

          <!-- For Brier score -->
          <th scope="col">{{ 'kelly.PredProb' | translate }}</th>
          
          <th scope="col">{{ 'kelly.Total' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- <td colspan="6"><button class="btn btn-primary" type="button" disabled>
            <fa-icon [icon]="faAdd"></fa-icon> {{ 'kelly.AddNewTrans' | translate }}
          </button></td> -->
          <td colspan="99" class="text-center"><span>({{ 'home.PreviewNotIncluded' | translate }})</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>