<!-- <div class="pt-6"></div> -->

<div class="border border-2 border-primary">
	<nav class="navbar navbar-expand-sm">
			<div class="container-fluid">
				<!-- <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbarHome">
					<span class="navbar-toggler-icon"></span>
				</button> -->

				<!-- <div class="navbarHome" id="navbarHome"> -->
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item" [ngClass]="tab_active(1)"><a class="nav-link nav-tab-link-mod" 
						role="button" (click)="new_proj()">
              <fa-icon [icon]="faProj"></fa-icon>
							<span class="caption">{{ 'home.newProject' | translate }}</span>
						</a></li>
						<li class="nav-item" [ngClass]="tab_active(2)"><a class="nav-link nav-tab-link-mod" 
						role="button" (click)="new_templ()">
              <fa-icon [icon]="faTempl"></fa-icon>
							<span class="caption">{{ 'home.newTemplate' | translate }}</span>
						</a></li>
					</ul>
				<!-- </div> -->
			</div>
	</nav>
</div>

<ng-container *ngIf="curr_view == 0">
	<div class="container row">
		<div class="col-md-4 col-xl-3 col-xxl-2 pt-3">
			<h5>{{ 'home.Filters' | translate }}</h5>
			<ul class="navbar-nav">
				<li class="nav-item nav-filter" [ngClass]="is_active(HomeFilter.Project)"><a class="nav-link" role="button" 
					(click)="set_filter(HomeFilter.Project)">{{ 'home.allProject' | translate }}</a></li>
				<li class="nav-item nav-filter" [ngClass]="is_active(HomeFilter.Template)"><a class="nav-link" role="button" 
					(click)="set_filter(HomeFilter.Template)">{{ 'home.allTemplate' | translate }}</a></li>
			</ul>
		</div>

		<div class="col-md-8 col-xl-9 col-xxl-10 pt-3">
			<!-- List of cards -->
      <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 row-cols-xxl-4 g-3 card-group">
        @for (item of items | paginate: page; track item.uuid) {
          <div class="col">
            <div class="card card-hover" hover-class="border-primary | null" (click)="redirect_to(item.uuid)">
              <div class="card-header">
                {{ item.name }}
              </div>
              <div class="card-body">
                <p class="card-text">{{ item.description }}</p>
              </div>
              <div class="card-footer" *ngIf="item.t_name">
                <span>{{ 'home.TemplateName' | translate }}: {{ item.t_name }}</span><br>
                <span>{{ 'home.Version' | translate }}: {{ item.t_ver + 1 }}</span>
              </div>
            </div>
          </div>
        }
      </div>
      <div class="pt-5"></div>
      <pagination-controls (pageChange)="change_page($event)" class="text-center"></pagination-controls>
		</div>
	</div>
</ng-container>


<!-- New project -->
<ng-container *ngIf="curr_view == 1">
  @defer (when deferProjClicked()) {
    <app-new-proj-modal (emitCallback)="projCallback($event)"></app-new-proj-modal>
  }
</ng-container>


<!-- New Template -->
<ng-container *ngIf="curr_view == 2">
  @defer (when deferTemplClicked()) {
    <app-new-templ-modal (emitCallback)="templCallback($event)"></app-new-templ-modal>
  }
</ng-container>


<!-- <button (click)="get_templates()">GET templates</button> -->
<!-- {{ items | json }} -->