<div class="modal-header">
  <h3>{{ title }}</h3>
</div>

<div class="modal-body">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <!-- Kelly Criterion and Brier Score -->
    <div class="row">
      <div class="col-sm-6">
        <h4 class="text-center">Kelly's Criterion</h4>
        <div class="input-group mb-3">
          <span class="input-group-text">Kelly %</span>
          <input type="number" class="form-control" [value]="calc_kelly_perc()" disabled />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">Winning Prob.</span>
          <input type="number" class="form-control" [value]="calc_winning_prob()" disabled />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">Win/Loss Ratio</span>
          <input type="number" class="form-control" [value]="calc_winloss_ratio()" disabled />
        </div>
      </div>

      <div class="col-sm-6">
        <h4 class="text-center">Brier Score</h4>
        <div class="input-group mb-3">
          <span class="input-group-text">Brier Score</span>
          <input type="number" class="form-control" [value]="calc_brier_score()" disabled />
        </div>
      </div>
    </div>

    <div class="row pt-3" formArrayName="transactions">
      <table class="table">
        <thead>
          <tr>
            <!-- Below for X -->
            <th scope="col"></th>  
            <th scope="col">Coin<span class="text-danger">*</span></th>
            <th scope="col">Buy/Sell<span class="text-danger">*</span></th>
            <th scope="col">Price<span class="text-danger">*</span></th>
            <th scope="col">Amt<span class="text-danger">*</span></th>

            <!-- For Buy/Sell only -->
            <!-- <th scope="col">Sell only</th> -->
            <th scope="col">Selling Price</th>
            <th scope="col">Selling Amt</th>

            <!-- For Brier score -->
            <th scope="col">Prediction Prob.</th>
            
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="6"><button class="btn btn-primary" type="button" (click)="add_transaction()">
              <fa-icon [icon]="faAdd"></fa-icon> Add New Transaction
            </button></td>
            <td colspan="3"><span>(Only stores latest 100 transactions.)</span></td>
          </tr>
          <ng-container *ngFor="let t of transactions; let i=index;" [formGroupName]="i">
            <tr>
              <td>
                <button type="button" class="btn btn-outline-danger" (click)="remove_transaction(i)">
                  <fa-icon [icon]="faCross"></fa-icon>
                </button>
              </td>
              <td>
                <input type="text" formControlName="coin" class="form-control" placeholder="BTC" appUppercase>
                <app-error [form]="t" control="coin"></app-error>
              </td>
              <td>
                <select name="buy" formControlName="buy" class="form-select">
                  <option value="false">Sell</option>
                  <option value="true">Buy</option>
                </select>
              </td>
              <td>
                <input type="number" formControlName="price" min="0" class="form-control" />
                <app-error [form]="t" control="price"></app-error>
              </td>
              <td>
                <input type="number" formControlName="amt" min="0" class="form-control"
                (change)="upd_amt_1_validator(i)" />
                <app-error [form]="t" control="amt"></app-error>
              </td>
              <td>
                <input type="number" formControlName="price_1" class="form-control" appNumberEndWithDot />
                <app-error [form]="t" control="price_1"></app-error>
              </td>
              <td>
                <input type="number" formControlName="amt_1" min="0" class="form-control" appNumberEndWithDot />
                <app-error [form]="t" control="amt_1"></app-error>
              </td>
              <td>
                <input type="number" formControlName="pred_prob" min="0" max="1" step="0.01" class="form-control" />
                <app-error [form]="t" control="pred_prob"></app-error>
              </td>
              <td class="text-center pt-3">
                <span>{{ calc_row_total(i) }}</span>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
       <!-- We don't do overall total on purpose; it has no meaning, since we only
          save the last 100 transactions, not all transactions. That should be inside Excel. -->
    </div>
  </form>
</div>

<div class="modal-footer">
  <div class="d-flex gap-2">
    <button class="btn btn-secondary" (click)="cancel()">
      <fa-icon [icon]="faCross"></fa-icon>
      <span class="caption"></span>
    </button>
    <button class="btn btn-primary" (click)="onSubmit()">
      <fa-icon [icon]="faSave"></fa-icon>
      <span class="caption"></span>
    </button>
  </div>
</div>


<!-- DEBUG -->
<pre>
  {{ loading | json }}
  {{ submitting | json }}
  {{ this.myForm.invalid | json }}
  {{ myForm.value | json }}
</pre>