<div class="modal-header">
  <h3>{{ (is_new ? "reminder.isNew" : "reminder.isEdit") | translate}} 
    {{ 'reminder.Name' | translate }} ({{ 'reminder.Item' | translate }} {{ id + 1 }})</h3>
</div>

<div class="modal-body">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="form-floating">
      <input type="text" class="form-control" formControlName="title" id="title" 
      placeholder="{{ 'reminder.title' | translate }}" />
      <label for="name">{{ 'reminder.title' | translate}}</label>
    </div>
    <app-error [form]="myForm" control="title"></app-error>
    <hr>

    <!-- List of questions here -->
    <ng-container formArrayName="questions">
      <ng-container *ngFor="let q of questions; let i=index;" [formGroupName]="i">
        <div class="card">
          <div class="card-body row">
            <div class="col-1 col-lg-1"><span class="text-center">{{ i + 1 }}</span></div>
            <div class="col-11 col-lg-8">
              <input type="text" class="form-control" formControlName="question" placeholder="{{ 'QuestionChoice.Question' | translate }}">
              <app-error [form]="q" control="question"></app-error>
            </div>
            <div class="col-lg-3">
              <select name="q_type" id="q_type" class="form-select" formControlName="q_type" (change)="on_qtype_change(i)">
                <option *ngFor="let t of AnswerTypes | keyvalue: originalOrder" [value]="t.value">{{ 'QuestionChoice.' + t.key | translate }}</option>
              </select>
            </div>


            <div class="col-sm-1">
              <button type="button" class="btn btn-outline-secondary" (click)="openModalUpDownQLevel(i)">
                <fa-icon [icon]="faUpDown"></fa-icon>
              </button>
              <button type="button" class="btn btn-outline-danger" (click)="remove_question(i)" *ngIf="questions.length > 1">
                <fa-icon [icon]="faCross"></fa-icon>
              </button>
            </div>
            <div class="col-sm-11">
              <!-- Template doesn't work, because it doesn't update after but concurrently, which the former is what we want. -->
              <!-- You'll get 'cannot find control with path' error if update concurrently. -->
              <ng-container *ngIf="is_qtype(i, ['2', '3'])" formArrayName="rows">
                <div class="row pt-2" *ngFor="let op of rowcols(i); let j=index;" [formGroupName]="j">
                  <div class="col-1"><fa-icon [icon]="is_qtype(i, '2') ? faCircle : faSquare"></fa-icon></div>
                  <button type="button" class="col-1 btn btn-outline-primary" (click)="openModalUpDown(i, j)">
                    <fa-icon [icon]="faUpDown"></fa-icon></button>
                  <div class="col-9">
                    <input type="text" class="form-control" formControlName="option" placeholder="{{ 'QuestionChoice.Option' | translate }} {{ j + 1 }}" />
                    <app-error [form]="op" control="option"></app-error>
                  </div>
                  <button class="col-1 btn btn-outline-danger" (click)="remove_rowcol(i, j)" 
                  *ngIf="rowcols(i).length > 1"><fa-icon [icon]="faCross"></fa-icon></button>
                </div>
            
                <!-- Add another row -->
                <ng-template [ngTemplateOutlet]="AnotherRow" [ngTemplateOutletContext]="{
                  icon: is_qtype(i, '2') ? faCircle : faSquare, i: i, btn_name: 'QuestionChoice.Option',
                  rowcol: 'rows', usenum: false, j: 0
                }"></ng-template>
              </ng-container>

              <ng-container *ngIf="is_qtype(i, '4')">
                <div class="row pt-2">
                  <div class="col-lg-6">
                    <div class="input-group mb-3">
                      <select name="min" class="form-select" formControlName="min">
                        <option *ngFor="let v of range(2)" [value]="v">{{ v }}</option>
                      </select>
                      <span class="input-group-text">{{ 'QuestionChoice.to' | translate }}</span>
                      <select name="max" class="form-select" formControlName="max">
                        <option *ngFor="let v of range(9, 2)" [value]="v">{{ v }}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row pb-2">
                  <div class="col-lg-6 row">
                    <span class="col-1 pt-2">{{ q.get('min')?.value }}</span>
                    <div class="col-11"><input class="form-control" type="text" formControlName="min_name" /></div>
                    <app-error [form]="q" control="min_name"></app-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 row">
                    <span class="col-1 pt-2">{{ q.get('max')?.value }}</span>
                    <div class="col-11"><input class="form-control" type="text" formControlName="max_name" /></div>
                    <app-error [form]="q" control="max_name"></app-error>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="is_qtype(i, ['5', '6'])">
                <div class="row pt-2">
                  <!-- For Rows -->
                  <div class="col-12 col-lg-6" formArrayName="rows">
                    <div *ngFor="let op of rowcols(i); let j=index;" [formGroupName]="j" class="row">
                      <span class="col-1">{{ j + 1 }}</span>
                      <button type="button" class="col-1 btn btn-outline-primary" (click)="openModalUpDown(i, j)">
                        <fa-icon [icon]="faUpDown"></fa-icon></button>
                      <div class="col-9">
                        <input type="text" class="form-control" formControlName="option" placeholder="{{ 'QuestionChoice.Row' | translate }} {{ j + 1 }}" />
                        <app-error [form]="op" control="option"></app-error>
                      </div>
                      <button class="col-1 btn btn-outline-danger" (click)="remove_rowcol(i, j)"
                      *ngIf="rowcols(i).length > 1"><fa-icon [icon]="faCross"></fa-icon></button>
                    </div>

                    <!-- Add another row -->
                    <ng-template [ngTemplateOutlet]="AnotherRow" [ngTemplateOutletContext]="{
                      icon: is_qtype(i, '5') ? faCircle: faSquare, i: i, btn_name: 'QuestionChoice.Rows',
                      rowcol: 'rows', usenum: true, j: rowcols(i, 'cols').length
                    }"></ng-template>
                  </div>
                  
                  <!-- For columns -->
                  <div class="col-12 col-lg-6" formArrayName="cols">
                    <div *ngFor="let op of rowcols(i, 'cols'); let k=index;" [formGroupName]="k" class="row">
                      <div class="col-1"><fa-icon [icon]="is_qtype(i, '5') ? faCircle : faSquare"></fa-icon></div>
                      <button type="button" class="col-1 btn btn-outline-primary" (click)="openModalUpDown(i, k, 'cols')">
                        <fa-icon [icon]="faUpDown"></fa-icon></button>
                      <div class="col-9">
                        <input type="text" class="form-control" formControlName="option" placeholder="{{ 'QuestionChoice.Column' | translate }} {{ k + 1 }}" />
                        <app-error [form]="op" control="option"></app-error>
                      </div>
                      <button class="col-1 btn btn-outline-danger" (click)="remove_rowcol(i, k, 'cols')"
                      *ngIf="rowcols(i, 'cols').length > 1"><fa-icon [icon]="faCross"></fa-icon></button>
                    </div>

                    <!-- Add another column -->
                    <ng-template [ngTemplateOutlet]="AnotherRow" [ngTemplateOutletContext]="{
                      icon: is_qtype(i, '5') ? faCircle: faSquare, i: i, btn_name: 'QuestionChoice.Columns',
                      rowcol: 'cols', usenum: false, j: 0
                    }"></ng-template>
                  </div>
                </div>
              </ng-container>

            </div>
          </div>
        </div>
        <div class="pb-2"></div>
      </ng-container>
    </ng-container>

    <!-- Add another question -->
    <div class="pt-2">
      <button type="button" class="btn btn-secondary btn-lg" (click)="add_new_question()">
        <fa-icon [icon]="faAdd"></fa-icon>
      </button>
    </div>
  </form>
</div>

<div class="modal-footer">
  <div class="d-flex gap-2">
    <button class="btn btn-secondary" (click)="cancel()">
      <fa-icon [icon]="faCross"></fa-icon>
      <span class="caption"></span>
    </button>
    <button class="btn btn-primary" (click)="onSubmit()">
      <fa-icon [icon]="faSave"></fa-icon>
      <span class="caption"></span>
    </button>
  </div>
</div>


<!-- Add another row or column-->
<ng-template #AnotherRow let-icon="icon" let-i="i" let-name="btn_name" let-rowcol="rowcol" 
let-usenum="usenum" let-j="j" Template>
  <div class="row pt-2">
    <div class="col-1">
      <fa-icon [icon]="icon" *ngIf="!usenum"></fa-icon>
      <span class="col-1" *ngIf="usenum">{{ j + 1 }}</span>
    </div>
    <button type="button" class="btn btn-primary col-3" (click)="add_rowcol(i, rowcols(i).length, rowcol)" 
    [disabled]="rowcols(i).length >= maxrowcol">
      <fa-icon [icon]="faAdd"></fa-icon> {{ name | translate }}
    </button>
    <!-- Add Others not supported to reduce complexity. -->
  </div>
</ng-template>



<!-- {{ myForm.value | json }} -->
<!-- {{ questions | json}} -->
<!-- {{ AnswerTypes | keyvalue | json }} -->

<!-- <button type="button" (click)="delete()">DELETE</button> -->
<pre>
  {{ items | json }}
</pre>