<!-- Upside large "stats": LHS Kelly Criterion, RHS: Brier score -->
<!-- Brier score we always assume something is up: otherwise why buy? -->
<!-- Below, allow input buy sell in single line.  -->
<!-- If buy sell separate price, can split multiple line.  -->
<!-- Buy sell doesn't have to be same amount. We count ROI separately. -->
<!-- E.g. if one buy 0.9 ETH, but sell only 0.5 ETH at higher price, we already have enough
information to calculate Kelly Criterion and Brier score.  -->
<!-- Then, we can add another line that's purely for "sell" (no purely for "buy")
that's not involved in calculation of Kelly Criterion and Brier score. -->
